<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">毕业答辩顺序 -
                    <small>安排</small>
                    <small class="pull-right">
                        <button type="button" class="btn btn-primary" id="page_back">返回</button>
                    </small>
                </h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <form role="form" id="add_form">
                    <div class="form-group" id="valid_paper_time">
                        <label>毕业论文评阅日期</label>
                        <input class="form-control" name="paperTime" id="paperTime"
                               th:value="${defenseArrangement.paperStartTime} + ' 至 ' + ${defenseArrangement.paperEndTime}"
                               placeholder="毕业论文评阅日期"
                               readonly="readonly"/>
                        <p class="text-danger hidden" id="paper_time_error_msg"></p>
                    </div>
                    <div class="form-group" id="valid_defense_time">
                        <label>答辩日期</label>
                        <input class="form-control" name="defenseTime" id="defenseTime"
                               th:value="${defenseArrangement.defenseStartTime} +' 至 '+ ${defenseArrangement.defenseEndTime}"
                               placeholder="答辩日期"
                               readonly="readonly"/>
                        <p class="text-danger hidden" id="defense_time_error_msg"></p>
                    </div>
                    <div class="form-group" th:unless="${#lists.isEmpty(defenseTimes)}">
                        <label>每日答辩时间</label>
                        <div class="row" th:each="row,rowStat : ${defenseTimes}" style="margin-top: 10px;">
                            <div class="col-md-4">
                                <input class="form-control day_defense" th:value="${row.dayDefenseStartTime}"
                                       name="dayDefenseStartTime"
                                       placeholder="开始时间"
                                       readonly="readonly"/>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control day_defense" th:value="${row.dayDefenseEndTime}"
                                       name="dayDefenseEndTime"
                                       placeholder="结束时间"
                                       readonly="readonly"/>
                            </div>
                        </div>
                        <p class="text-danger hidden" id="day_defense_error_msg"></p>
                    </div>
                    <div class="form-group" id="valid_interval_time">
                        <label>答辩间隔时间(分钟)</label>
                        <input class="form-control" type="number" id="intervalTime"
                               th:value="${defenseArrangement.intervalTime}" name="intervalTime" placeholder="答辩间隔时间"
                               readonly="readonly"/>
                        <p class="text-danger hidden" id="interval_time_error_msg"></p>
                    </div>
                    <div class="form-group" id="valid_defense_note">
                        <label>答辩说明</label>
                        <textarea class="form-control" rows="3" name="defenseNote" placeholder="答辩说明"
                                  th:text="${defenseArrangement.defenseNote}" disabled="disabled"></textarea>
                        <p class="text-danger hidden" id="defense_note_error_msg"></p>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->
        <footer class="footer" th:include="footer::footer">
            <p class="text-muted">&copy; Company 2016</p>
        </footer>
        <!-- /.footer -->
        <input type="hidden" class="dy_script" value="/js/graduate/design/reorder/design_reorder_arrange.js"/>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
</body>

</html>