<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header(~{::meta},~{::title},~{::link})">
    <!-- csrf -->
    <meta name="_csrf" content="" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="" th:content="${_csrf.headerName}"/>
    <title th:text="${defenseOrder.sortNum + ' _  ' + defenseOrder.studentName + ' ' + defenseOrder.studentNumber}">ISY</title>
    <!-- sticky-footer CSS -->
    <link href="css/sticky-footer.css" rel="stylesheet" th:href="@{/css/custom/sticky-footer.css}"/>
</head>
<body>
<div class="container">

    <div class="text-center" style="margin-top: 15%;">
        <h2 th:text="${defenseOrder.sortNum + ' _  ' + defenseOrder.studentName + ' ' +defenseOrder.studentNumber}">Example 2 - Countdown Timer</h2>
        <h1 id="countdown">05:00:00</h1>
        <form id="example2form">
            <input class="btn btn-default" type='button' value='Play/Pause' id="play" />
        </form>
    </div>

    <footer class="footer" th:include="footer::footer" style="height: 60px;">
        <p class="text-muted">&copy; Company 2016</p>
    </footer>
    <!-- /.footer -->
</div>
<script src="webjarsjs" th:src="@{/webjarsjs}"></script>
<script src="webjars/requirejs/require.min.js" th:src="@{/webjars/requirejs/require.min.js}"
        data-main="/design_reorder_timer"></script>
<script th:inline="javascript">
    var web_path = /*[[${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}]]*/ '';
    var reorder_timer = /*[[${timer}]]*/ 0;
    require.config({
        baseUrl: web_path + "/js/graduate/design/reorder",
        waitSeconds: 0
    });
</script>
</body>
</html>
