<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">毕业设计题目 -
                    <small>查看</small>
                    <small class="pull-right">
                        <button type="button" class="btn btn-primary" id="page_back">返回</button>
                    </small>
                </h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-12 col-md-12">
                <h3>题目 <small th:text="${graduationDesignPresubject.updateTimeStr}"></small></h3>
                <p th:text="${graduationDesignPresubject.presubjectTitle}"></p>
                <h3>计划</h3>
                <div id="content"></div>
            </div>
        </div>
        <!-- /.row -->
        <footer class="footer" th:include="footer::footer">
            <p class="text-muted">&copy; Company 2016</p>
        </footer>
        <!-- /.footer -->
        <script th:inline="javascript">
            /*页面参数*/
            var init_page_param = {
                'graduationDesignReleaseId': /*[[${graduationDesignReleaseId}]]*/ ''
            };
        </script>
        <input type="hidden" id="htmlData" th:value="${graduationDesignPresubject.presubjectPlan}"/>
        <input type="hidden" class="dy_script" value="/js/graduate/design/subject/design_subject_look.js"/>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
</body>

</html>
