<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">实习发布 -
                    <small>编辑</small>
                    <small class="pull-right">
                        <button type="button" class="btn btn-primary" id="page_back">返回</button>
                    </small>
                </h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <form role="form" id="add_form">
                    <div class="form-group" id="valid_release_title">
                        <label>标题</label>
                        <input class="form-control" name="releaseTitle" th:value="${internshipRelease.internshipTitle}"
                               id="releaseTitle" placeholder="标题" maxlength="100"/>
                        <p class="text-danger hidden" id="release_title_error_msg"></p>
                        <input type="hidden" th:value="${internshipRelease.internshipReleaseId}"
                               id="internshipReleaseId" name="internshipReleaseId"/>
                        <input type="hidden" th:value="${internshipRelease.schoolId}" id="schoolId"/>
                        <input type="hidden" th:value="${internshipRelease.collegeId}" id="collegeId"/>
                        <input type="hidden" th:value="${internshipRelease.departmentId}" id="departmentId"/>
                    </div>
                    <div class="form-group">
                        <label>实习类型</label>
                        <input class="form-control" name="internshipTypeName"
                               th:value="${internshipRelease.internshipTypeName}" readonly="readonly"/>
                    </div>
                    <div class="form-group" id="valid_teacher_distribution_time">
                        <label>指导教师分配时间</label>
                        <input class="form-control" name="teacherDistributionTime" id="teacherDistributionTime"
                               placeholder="指导教师分配时间"/>
                        <p class="text-danger hidden" id="teacher_distribution_time_error_msg"></p>
                        <input type="hidden" th:value="${internshipRelease.teacherDistributionStartTime}"
                               id="teacherDistributionStartTime"/>
                        <input type="hidden" th:value="${internshipRelease.teacherDistributionEndTime}"
                               id="teacherDistributionEndTime"/>
                    </div>
                    <div class="form-group" id="valid_time">
                        <label>实习申请时间</label>
                        <input class="form-control" name="time" id="time" placeholder="实习开始时间"/>
                        <p class="help-block">建议：实习申请时间应晚于指导教师分配时间</p>
                        <p class="text-danger hidden" id="time_error_msg"></p>
                        <input type="hidden" th:value="${internshipRelease.startTime}" id="startTime"/>
                        <input type="hidden" th:value="${internshipRelease.endTime}" id="endTime"/>
                    </div>
                    <div class="form-group">
                        <label>学校</label>
                        <input class="form-control" name="schoolName" th:value="${internshipRelease.schoolName}"
                               readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label>院</label>
                        <input class="form-control" name="collegeName" th:value="${internshipRelease.collegeName}"
                               readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label>系</label>
                        <input class="form-control" name="departmentName" th:value="${internshipRelease.departmentName}"
                               readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label>年级</label>
                        <input class="form-control" name="allowGrade" th:value="${internshipRelease.allowGrade}"
                               readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label>专业</label>
                        <span class="label label-default" th:each="s:${sciences}" th:text="${s.scienceName}"></span>
                    </div>
                    <div class="form-group">
                        <label>状态</label>
                        <div class="checkbox">
                            <label th:if="${internshipRelease.internshipReleaseIsDel == 0 || internshipRelease.internshipReleaseIsDel == null}">
                                <input type="checkbox" name="internshipReleaseIsDel" id="internshipReleaseIsDel"
                                       value="1"/>注销
                            </label>
                            <label th:if="${internshipRelease.internshipReleaseIsDel == 1}">
                                <input type="checkbox" name="internshipReleaseIsDel" id="internshipReleaseIsDel"
                                       checked="checked" value="1"/>注销
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>附件</label>
                        <div class="row" id="fileShow">

                        </div>
                        <div class="text-center">
                            <!-- The global progress bar -->
                            <div id="progress" class="progress">
                                <div class="progress-bar progress-bar-success"></div>
                            </div>
                            <p>
                            <span class="btn btn-primary fileinput-button">
                                <span>添加附件</span>
                                <!-- The file input field used as target for the file upload widget -->
                                <input id="fileupload" type="file" name="files[]" multiple="multiple"/>
                            </span>
                            </p>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" id="save" class="btn btn-default">保存</button>
                        <button type="reset" class="btn btn-default">重置</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->
        <footer class="footer" th:include="footer::footer">
            <p class="text-muted">&copy; Company 2016</p>
        </footer>
        <!-- /.footer -->
        <script id="file-template" type="text/x-handlebars-template">
            {{#each listResult}}
            <div class="fileobj" data-file-path="{{lastPath}}" data-original-file-name="{{original_file_name}}"
                 data-new-name="{{new_name}}" data-ext="{{ext}}" data-size="{{l_size}}">
                <div class="col-lg-6">
                    {{original_file_name}}
                </div>
                <div class="col-lg-4">
                    {{size}}
                </div>
                <div class="col-lg-2 text-center">
                    <a class="clearfile" data-file-path="{{lastPath}}" data-original-file-name="{{original_file_name}}"
                       data-file-id="{{fileId}}" href="javascript:;">删除</a>
                </div>
            </div>
            {{/each}}
        </script>
        <input type="hidden" class="dy_script" value="/js/internship/release/internship_release_edit.js"/>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
</body>

</html>