<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_FILE" value="${LOG_PATH}/${LOG_FILE}"/>
    <springProfile name="dev">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <logger name="org.springframework.web" level="DEBUG"/>
        <logger name="org.jooq" level="DEBUG"/>
        <logger name="top.zbeboy.isy.web" level="DEBUG"/>
        <logger name="top.zbeboy.isy.service" level="DEBUG"/>
    </springProfile>

    <springProfile name="prod">
        <include resource="org/springframework/boot/logging/logback/defaults.xml" />
        <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
        <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
        <logger name="org.thymeleaf" level="ERROR">
            <appender-ref ref="FILE" />
        </logger>
        <logger name="org.jooq" level="ERROR">
            <appender-ref ref="FILE" />
        </logger>
        <logger name="top.zbeboy.isy" level="INFO">
            <appender-ref ref="CONSOLE" />
        </logger>
        <root level="WAN">
            <appender-ref ref="FILE" />
        </root>
    </springProfile>
</configuration>