<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">实习申请 -
                    <small>添加</small>
                    <small class="pull-right">
                        <button type="button" class="btn btn-primary" id="page_back">返回</button>
                    </small>
                </h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <form role="form" id="add_form">
                    <div class="form-group" id="valid_student_name">
                        <label>学生姓名</label>
                        <input class="form-control" th:value="${student.realName}" name="studentName" id="studentName"
                               placeholder="学生姓名" maxlength="15"/>
                        <p class="text-danger hidden" id="student_name_error_msg"></p>
                        <input type="hidden" th:value="${student.studentId}" name="studentId" id="studentId"/>
                        <input type="hidden" th:value="${internshipReleaseId}" name="internshipReleaseId"/>
                    </div>
                    <div class="form-group" id="valid_college_class">
                        <label>专业班级</label>
                        <input class="form-control" th:value="${student.organizeName}" name="collegeClass"
                               id="collegeClass" placeholder="专业班级" readonly="readonly"/>
                        <p class="text-danger hidden" id="college_class_error_msg"></p>
                    </div>
                    <div class="form-group" id="valid_student_sex"
                         th:if="${student.sex==null || student.sex == '' || student.sex == '男'}">
                        <label>学生性别</label>
                        <label class="radio-inline">
                            <input type="radio" name="studentSex" id="man" value="男" checked="checked"/>男
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="studentSex" id="woman" value="女"/>女
                        </label>
                        <p class="text-danger hidden" id="student_sex_error_msg"></p>
                    </div>
                    <div class="form-group" id="valid_student_sex" th:if="${student.sex == '女'}">
                        <label>学生性别</label>
                        <label class="radio-inline">
                            <input type="radio" name="studentSex" id="man" value="男"/>男
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="studentSex" id="woman" value="女" checked="checked"/>女
                        </label>
                        <p class="text-danger hidden" id="student_sex_error_msg"></p>
                    </div>
                    <div class="form-group" id="valid_student_number">
                        <label>学生学号</label>
                        <input class="form-control" th:value="${student.studentNumber}" name="studentNumber"
                               id="studentNumber" placeholder="学生学号" readonly="readonly"/>
                        <p class="text-danger hidden" id="student_number_error_msg"></p>
                    </div>
                    <div class="form-group" id="valid_phone_number">
                        <label>电话号码</label>
                        <input class="form-control" th:value="${student.mobile}" name="phoneNumber" id="phoneNumber"
                               placeholder="电话号码" readonly="readonly"/>
                        <p class="text-danger hidden" id="phone_number_error_msg"></p>
                    </div>
                    <div class="form-group" id="valid_qq_mailbox">
                        <label>QQ邮箱</label>
                        <input class="form-control" name="qqMailbox" th:value="${qqMail}" id="qqMailbox"
                               placeholder="QQ邮箱" maxlength="100"/>
                        <p class="text-danger hidden" id="qq_mailbox_error_msg"></p>
                    </div>
                    <div class="form-group" id="valid_parental_contact">
                        <label>父母联系方式</label>
                        <input class="form-control" th:value="${student.parentContactPhone}" name="parentalContact"
                               id="parentalContact" placeholder="父母联系方式"/>
                        <p class="text-danger hidden" id="parental_contact_error_msg"></p>
                    </div>
                    <div class="form-group" id="valid_headmaster">
                        <label>班主任</label>
                        <select name="headmaster" id="select_headmaster" class="form-control selectpicker show-tick"
                                title="请选择班主任">
                        </select>
                        <p class="text-danger hidden" id="headmaster_error_msg"></p>
                    </div>
                    <div class="form-group" id="valid_graduation_practice_college_name">
                        <label>实习单位名称</label>
                        <input class="form-control" name="graduationPracticeCollegeName" id="graduationPracticeCollegeName"
                               placeholder="实习单位名称" maxlength="200"/>
                        <p class="text-danger hidden" id="graduation_practice_college_name_error_msg"></p>
                    </div>
                    <div class="form-group" id="valid_graduation_practice_college_address">
                        <label>实习单位地址</label>
                        <input class="form-control" name="graduationPracticeCollegeAddress" id="graduationPracticeCollegeAddress"
                               placeholder="实习单位地址" maxlength="500"/>
                        <p class="text-danger hidden" id="graduation_practice_college_address_error_msg"></p>
                    </div>
                    <div class="form-group" id="valid_graduation_practice_college_contacts">
                        <label>实习单位联系人</label>
                        <input class="form-control" name="graduationPracticeCollegeContacts" id="graduationPracticeCollegeContacts"
                               placeholder="实习单位联系人" maxlength="10"/>
                        <p class="text-danger hidden" id="graduation_practice_college_contacts_error_msg"></p>
                    </div>
                    <div class="form-group" id="valid_graduation_practice_college_tel">
                        <label>实习单位联系人联系方式</label>
                        <input class="form-control" name="graduationPracticeCollegeTel" id="graduationPracticeCollegeTel"
                               placeholder="实习单位联系人联系方式"/>
                        <p class="text-danger hidden" id="graduation_practice_college_tel_error_msg"></p>
                    </div>
                    <div class="form-group" id="valid_school_guidance_teacher">
                        <label>校内指导教师</label>
                        <input class="form-control" name="schoolGuidanceTeacher" th:value="${internshipTeacher}"
                               id="schoolGuidanceTeacher" placeholder="校内指导教师" readonly="readonly"/>
                        <p class="text-danger hidden" id="school_guidance_teacher_error_msg"></p>
                    </div>
                    <div class="form-group" id="valid_start_time">
                        <label>实习开始时间</label>
                        <input class="form-control" name="startTime" id="startTime" placeholder="实习开始时间"/>
                        <p class="text-danger hidden" id="start_time_error_msg"></p>
                    </div>
                    <div class="form-group" id="valid_end_time">
                        <label>实习结束时间</label>
                        <input class="form-control" name="endTime" id="endTime" placeholder="实习结束时间"/>
                        <p class="text-danger hidden" id="end_time_error_msg"></p>
                    </div>
                    <div class="form-group">
                        <label>附件下载</label>
                        <div class="row" id="fileShow">

                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" id="save" class="btn btn-default">保存</button>
                        <button type="reset" class="btn btn-default">重置</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->
        <footer class="footer" th:include="footer::footer">
            <p class="text-muted">&copy; Company 2016</p>
        </footer>
        <!-- /.footer -->
        <script id="teacher-template" type="text/x-handlebars-template">
            {{#each listResult}}
            <option value="{{teacher_value}}">{{teacher_name}}</option>
            {{/each}}
        </script>
        <script id="file-template" type="text/x-handlebars-template">
            {{#each listResult}}
            <div class="fileobj" data-file-path="{{lastPath}}" data-original-file-name="{{original_file_name}}"
                 data-new-name="{{new_name}}" data-ext="{{ext}}" data-size="{{l_size}}">
                <div class="col-lg-6">
                    {{original_file_name}}
                </div>
                <div class="col-lg-4">
                    {{size}}
                </div>
                <div class="col-lg-2 text-center">
                    <a class="downloadfile" data-file-path="{{lastPath}}"
                       data-original-file-name="{{original_file_name}}" data-file-id="{{fileId}}"
                       href="javascript:;">下载</a>
                </div>
            </div>
            {{/each}}
        </script>
        <script th:inline="javascript">
            /*页面参数*/
            var init_page_param = {
                'internshipReleaseId': /*[[${internshipReleaseId}]]*/ ''
            };
        </script>
        <input type="hidden" class="dy_script" value="/js/internship/apply/graduation_practice_college_add.js"/>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
</body>

</html>