<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">专业数据 -
                    <small>编辑</small>
                    <small class="pull-right">
                        <button type="button" class="btn btn-primary" id="page_back">返回</button>
                    </small>
                </h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <form role="form" id="edit_form">
                    <div class="form-group" id="valid_school" sec:authorize="hasRole('ROLE_SYSTEM')">
                        <select class="form-control" name="schoolId" id="select_school">
                            <option>请选择学校</option>
                        </select>
                        <p class="text-danger hidden" id="school_error_msg"></p>
                        <input type="hidden" id="schoolId" th:value="${science.schoolId}"/>
                    </div>
                    <div class="form-group" id="valid_college" sec:authorize="hasRole('ROLE_SYSTEM')">
                        <select class="form-control" name="collegeId" id="select_college">
                            <option>请选择院</option>
                        </select>
                        <p class="text-danger hidden" id="college_error_msg"></p>
                        <input type="hidden" id="collegeId" th:value="${science.collegeId}"/>
                    </div>
                    <div class="form-group" id="valid_department">
                        <select class="form-control" name="departmentId" id="select_department">
                            <option>请选择系</option>
                        </select>
                        <p class="text-danger hidden" id="department_error_msg"></p>
                        <input type="hidden" id="departmentId" th:value="${science.departmentId}"/>
                    </div>
                    <div class="form-group" id="valid_science_name">
                        <label>专业</label>
                        <input class="form-control" name="scienceName" id="scienceName"
                               th:value="${science.scienceName}" placeholder="专业名"/>
                        <p class="text-danger hidden" id="science_name_error_msg"></p>
                        <input type="hidden" id="scienceId" name="scienceId" th:value="${science.scienceId}"/>
                    </div>
                    <div class="form-group">
                        <label>状态</label>
                        <div class="checkbox">
                            <label th:if="${science.scienceIsDel == 0 || science.scienceIsDel == null}">
                                <input type="checkbox" name="scienceIsDel" value="1"/>注销
                            </label>
                            <label th:if="${science.scienceIsDel == 1}">
                                <input type="checkbox" name="scienceIsDel" checked="checked" value="1"/>注销
                            </label>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" id="save" class="btn btn-default">保存</button>
                        <button type="reset" class="btn btn-default">重置</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->
        <footer class="footer" th:include="footer::footer">
            <p class="text-muted">&copy; Company 2016</p>
        </footer>
        <!-- /.footer -->

        <script id="school-template" type="text/x-handlebars-template">
            {{#each listResult}}
            <option value="{{school_value}}">{{school_name}}</option>
            {{/each}}
        </script>

        <script id="college-template" type="text/x-handlebars-template">
            {{#each listResult}}
            <option value="{{college_value}}">{{college_name}}</option>
            {{/each}}
        </script>

        <script id="department-template" type="text/x-handlebars-template">
            {{#each listResult}}
            <option value="{{department_value}}">{{department_name}}</option>
            {{/each}}
        </script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            /*页面参数*/
            var init_page_param = {
                'currentUserRoleName': /*[[${currentUserRoleName}]]*/ '',
                'collegeId': /*[[${collegeId}]]*/ 0
            };
            /*]]>*/
        </script>
        <input type="hidden" class="dy_script" value="/js/data/science/science_edit.js" />
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
</body>

</html>
