<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">实习日志 -
                    <small>查看</small>
                    <small class="pull-right">
                        <button type="button" class="btn btn-primary" id="page_back">返回</button>
                    </small>
                </h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-md-3">姓名</div>
                    <div class="col-md-3" th:text="${internshipJournal.studentName}"></div>
                    <div class="col-md-3">学号</div>
                    <div class="col-md-3" th:text="${internshipJournal.studentNumber}"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">班级</div>
                    <div class="col-md-3" th:text="${internshipJournal.organize}"></div>
                    <div class="col-md-3">指导教师</div>
                    <div class="col-md-3" th:text="${internshipJournal.schoolGuidanceTeacher}"></div>
                </div>
                <div class="row">
                    <div class="col-md-6">实习单位</div>
                    <div class="col-md-6" th:text="${internshipJournal.graduationPracticeCompanyName}"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">实习内容及感想:</div>
                    <p class="col-md-12" th:text="${internshipJournal.internshipJournalContent}"></p>
                </div>
                <div class="text-right">
                    <span>日期：</span><span th:text="${internshipJournalDate}"></span>
                </div>
                <p>备注：顶岗实习、校外自主实习需要提交实习日志；毕业实习需要提交实习周志。</p>
                <input type="hidden" name="internshipReleaseId" id="internshipReleaseId"
                       th:value="${internshipJournal.internshipReleaseId}"/>
            </div>
        </div>
        <!-- /.row -->
        <footer class="footer" th:include="footer::footer">
            <p class="text-muted">&copy; Company 2016</p>
        </footer>
        <!-- /.footer -->
        <input type="hidden" class="dy_script" value="/js/internship/journal/internship_journal_look.js"/>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
</body>

</html>
