<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">实习日志 -
                    <small>查看</small>
                    <small class="pull-right">
                        <button type="button" class="btn btn-primary" id="page_back">返回</button>
                    </small>
                </h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td><strong>姓名</strong></td>
                            <td th:text="${internshipJournal.studentName}"></td>
                            <td><strong>学号</strong></td>
                            <td th:text="${internshipJournal.studentNumber}"></td>
                        </tr>
                        <tr>
                            <td><strong>班级</strong></td>
                            <td th:text="${internshipJournal.organize}"></td>
                            <td><strong>指导教师</strong></td>
                            <td th:text="${internshipJournal.schoolGuidanceTeacher}"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><strong>实习单位</strong></td>
                            <td colspan="2" th:text="${internshipJournal.graduationPracticeCompanyName}"></td>
                        </tr>
                        <tr>
                            <td colspan="4" rowspan="4"><span><strong>实习内容及感想:</strong></span><br/>
                                <p th:text="${internshipJournal.internshipJournalContent}"></p>
                                <div class="text-right">
                                    <span><strong>日期:</strong></span><span th:text="${internshipJournalDate}"></span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <p>备注：顶岗实习、校外自主实习需要提交实习日志；毕业实习需要提交实习周志。</p>
            </div>
        </div>
        <!-- /.row -->
        <footer class="footer" th:include="footer::footer">
            <p class="text-muted">&copy; Company 2016</p>
        </footer>
        <!-- /.footer -->
        <input type="hidden" class="dy_script" value="/js/internship/journal/internship_journal_look.js"/>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
</body>

</html>
