<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="keywords" name="keywords" content="" th:content="#{web.meta.keywords}"/>
    <meta http-equiv="description" name="description" content="" th:content="#{web.meta.description}"/>
    <meta name="author" content="" th:content="#{web.meta.author}"/>
    <!-- csrf -->
    <meta name="_csrf" content="" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="" th:content="${_csrf.headerName}"/>

    <title th:text="#{web.title}">ISY</title>

    <!-- favicon -->
    <link rel="icon" href="icon/favicon.ico" th:href="@{/icon/favicon.ico}"/>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

    <!-- MetisMenu CSS -->
    <link href="css/metisMenu.min.css" rel="stylesheet" th:href="@{/webjars/metisMenu/metisMenu.min.css}"/>

    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet"
          th:href="@{/webjars/startbootstrap-sb-admin-2/css/sb-admin-2.css}"/>

    <!-- sticky-footer CSS -->
    <link href="css/sticky-footer.css" rel="stylesheet" th:href="@{/css/custom/sticky-footer.css}"/>

    <!-- Loading CSS -->
    <link href="plugin/loading/css/showLoading.css" rel="stylesheet"
          th:href="@{/plugin/loading/css/showLoading.css}"/>

    <!-- messenger CSS -->
    <link href="css/plugin/messenger/messenger.css" th:href="@{/webjars/messenger/build/css/messenger.css}"
          rel="stylesheet"/>
    <link href="css/plugin/messenger/messenger-theme-flat.css"
          th:href="@{/webjars/messenger/build/css/messenger-theme-flat.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"
          th:href="@{/webjars/font-awesome/css/font-awesome.min.css}"/>

    <style>
        /* Main marketing message and sign up button */
        .jumbotron {
            text-align: center;
            background-color: transparent;
        }
        .jumbotron .btn {
            padding: 14px 24px;
            font-size: 21px;
        }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?928b161cc08f12ef1a91a5e3a9a2ac9a";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();

        /* push link to baidu */
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0"
         th:include="nav::nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">ISY v1.0</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                敬请期待
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    敬请期待
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">

                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> 用户资料</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> 配置</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <div class="custom-search-form sidebar-search" id="form"></div>
                <ul class="nav" id="side-menu">
                    <!-- 实习模块 -->
                    <li>
                        <a href="#"><i class="fa fa-coffee fa-fw"></i> 实习<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">实习发布</a>
                            </li>
                            <li>
                                <a href="#">实习教师分配</a>
                            </li>
                            <li>
                                <a href="#">实习申请</a>
                            </li>
                            <li>
                                <a href="#">实习审核</a>
                            </li>
                            <li>
                                <a href="#">实习统计</a>
                            </li>
                            <li>
                                <a href="#">实习日志</a>
                            </li>
                            <li>
                                <a href="#">实习监管</a>
                            </li>
                        </ul>
                    </li>
                    <!-- end -->
                    <!-- 数据管理 -->
                    <li>
                        <a href="#"><i class="fa fa-hdd-o fa-fw"></i> 数据<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">学校数据</a>
                            </li>
                            <li>
                                <a href="#">院数据</a>
                            </li>
                            <li>
                                <a href="#">系数据</a>
                            </li>
                            <li>
                                <a href="#">专业数据</a>
                            </li>
                            <li>
                                <a href="#">班级数据</a>
                            </li>
                            <li>
                                <a href="#">学生数据</a>
                            </li>
                            <li>
                                <a href="#">教职工数据</a>
                            </li>
                            <li>
                                <a href="#">民族数据</a>
                            </li>
                            <li>
                                <a href="#">政治面貌数据</a>
                            </li>
                        </ul>
                    </li>
                    <!-- end -->
                    <!-- 平台管理 -->
                    <li>
                        <a href="#"><i class="fa fa-list fa-fw"></i> 平台<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">平台用户</a>
                            </li>
                            <li>
                                <a href="#">平台角色</a>
                            </li>
                        </ul>
                    </li>
                    <!-- end -->
                    <!-- 系统管理 -->
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i> 系统<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">系统应用</a>
                            </li>
                            <li>
                                <a href="#">系统日志</a>
                            </li>
                            <li>
                                <a href="#">系统短信</a>
                            </li>
                            <li>
                                <a href="#">系统邮件</a>
                            </li>
                        </ul>
                    </li>
                    <!-- end -->
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="page-header">欢迎使用ISY</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
        <footer class="footer" th:include="footer::footer">
            <p class="text-muted">&copy; Company 2016</p>
        </footer>
        <!-- /.footer -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<script id="message-template" type="text/x-handlebars-template">
    {{#each messages}}
    <li>
        <a href="javascript:;">
            <div>
                <strong>{{real_name}}</strong>
                <span class="text-muted" style="padding-left: 120px;">
                    <em>{{date}}</em>
                </span>
            </div>
            <div>{{message_content}}</div>
        </a>
    </li>
    <li class="divider"></li>
    {{/each}}
</script>
<script id="alert-template" type="text/x-handlebars-template">
    {{#each alerts}}
    <li>
        <a href="javascript:;">
            <div>
                <i class="{{icon}}"></i> {{alertContent}}
                <span class="text-muted small" style="padding-left: 120px;">{{date}}</span>
            </div>
        </a>
    </li>
    <li class="divider"></li>
    {{/each}}
</script>
<script src="webjarsjs" th:src="@{/webjarsjs}"></script>
<script src="webjars/requirejs/require.min.js" th:src="@{/webjars/requirejs/require.min.js}"
        data-main="/backstage"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var web_path = /*[[${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}]]*/ '';
    require.config({
        baseUrl: web_path + "/js/backstage",
        waitSeconds: 0
    });
    /*]]>*/
</script>
</body>

</html>
