<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: no-metas-header(~{::title},~{::link})">
    <title>Error</title>
    <!-- Custom CSS-->
    <link rel="stylesheet" href="css/error.css" th:href="@{/css/custom/error.css}"/>
</head>
<body>
<!-- Begin page content -->
<div class="container">
    <div class="page-header">
        <h1 th:text="${status}">500</h1>
    </div>
    <p th:text="${message}">Fake content</p>
</div>

<footer class="footer">
    <div class="container" th:include="footer::footer">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</footer>
</body>
</html>
