<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Footer</title>
</head>
<body>
<footer class="footer" th:fragment="footer">
    <div class="text-center">
        <div style="margin:0 auto;">
            <a target="_blank" th:href="#{web.foot.gov.href}"
               style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img
                    th:src="@{/images/beian_logo.png}" style="float:left;"/>
                <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;"
                   th:text="#{web.foot.gov.information}"></p></a>
        </div>
        <p class="text-muted"><span>&copy;</span> <span
                th:text="${#calendars.format(#dates.createToday(), 'yyyy')}"></span> <span
                th:utext="#{web.foot.signature}"></span> <span class="text-muted"
                                                               th:text="#{web.foot.filing.information}"></span>
        </p>

    </div>
</footer>
</body>
</html>