<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Footer</title>
</head>
<body>
<footer class="footer" th:fragment="footer">
    <div class="text-center">
        <div style="margin:0 auto;">
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=53011102000364"
               style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img
                    src="/images/beian_logo.png" style="float:left;"/>
                <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">滇公网安备
                    53011102000364号</p></a>
        </div>
        <p class="text-muted"><span th:utext="#{web.foot.signature}"></span> <a class="text-muted"
                                                                                href="http://www.beianbaba.com/icp/zbeboy.top"
                                                                                th:text="#{web.foot.filing.information}"></a>
        </p>

    </div>
</footer>
</body>
</html>