<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(metas,title,links)">
    <!-- Common metas -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 360 browser default use webkit -->
    <meta name="renderer" content="webkit"/>
    <meta name="keywords" content="" th:content="#{web.meta.keywords}"/>
    <meta name="description" content="" th:content="#{web.meta.description}"/>
    <meta name="author" content="" th:content="#{web.meta.author}"/>
    <!--/* Per-page placeholder for additional metas */-->
    <th:block th:replace="${metas}" />
    <title th:replace="${title}">ISY</title>
    <!-- Common styles and scripts -->
    <!-- favicon -->
    <link rel="icon" href="icon/favicon.ico" th:href="@{/icon/favicon.ico}"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="webjars/bootstrap/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <!-- sb admin 2 -->
    <link href="css/sb-admin-2.css" rel="stylesheet"
          th:href="@{/plugin/sb-admin-2/css/sb-admin-2.min.css}"/>
    <!-- Custom Google Web Font -->
    <link rel="stylesheet" href="webjars/font-awesome/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/css/font-awesome.min.css}"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.async = true;// to fast speed.
            hm.src = "https://hm.baidu.com/hm.js?928b161cc08f12ef1a91a5e3a9a2ac9a";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
        /* push link to baidu */
        (function () {
            var bp = document.createElement('script');
            bp.async = true;
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
    <!-- Begin SessionStack code -->
    <script type="text/javascript">
        !function(a,b){var c=window;c.SessionStack=a,c[a]=c[a]||function(){
            c[a].q=c[a].q||[],c[a].q.push(arguments)},c[a].t=b;var d=document.createElement("script");
            d.async=1,d.src="https://cdn.sessionstack.com/sessionstack.js";
            var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(d,e);
        }("sessionstack","39c73d3833914fddaa6086e941cd01ba");
    </script>
    <!-- End SessionStack Code -->
    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links}" />
</head>
<body></body>
</html>