<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: header(~{::meta},~{::title},~{::link})">
    <meta baidu-gxt-verify-token="434aa6bac42e42ae7fff7983cd1ada50"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title th:text="#{web.title}">ISY</title>
    <!-- font css -->
    <link rel="stylesheet" href="css/useso.css" th:href="@{/css/custom/useso.css}"/>
    <!-- normalize -->
    <link rel="stylesheet" href="css/normalize.css" th:href="@{/webjars/normalize.css}"/>
    <!-- Custom CSS-->
    <link rel="stylesheet" href="css/index.css" th:href="@{/css/custom/index.css}"/>
</head>
<body>
<!-- SITE HEADER -->
<div class="site-top" id="top">
    <div class="site-top-overlay"></div>
    <div class="welcome-text">
        <div class="container text-center white-text">
            <div class="col-xs-8 col-xs-offset-2">
                <h1>ISY</h1>
                <a href="login.html" th:href="@{/login}" class="button outline white">马上登录</a>
            </div>
        </div>
    </div>
    <!-- SITE-FOOTER -->
    <footer class="site-footer">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <ul class="social-icons">
                        <li><a href="javascript:;" class="fa fa-qq"></a></li>
                        <li><a href="javascript:;" class="fa fa-weixin"></a></li>
                        <li><a href="https://zbeboy.github.io/ISY/" class="fa fa-github-square"></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" th:include="footer::footer"></div>
            </div>
        </div>
    </footer>
</div> <!-- .site-top -->
<script src="webjarsjs" th:src="@{/webjarsjs}"></script>
<script src="webjars/requirejs/require.min.js" th:src="@{/webjars/requirejs/require.min.js}"
        data-main="/index"></script>
<script>
    /*<![CDATA[*/
    var web_path = /*[[${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}]]*/ '';
    require.config({
        baseUrl: web_path + "/js/index",
        waitSeconds: 0
    });
    /*]]>*/
</script>
</body>
</html>