<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="keywords" name="keywords" content="" th:content="#{web.meta.keywords}"/>
    <meta http-equiv="description" name="description" content="" th:content="#{web.meta.description}"/>
    <meta name="author" content="" th:content="#{web.meta.author}"/>
    <meta baidu-gxt-verify-token="434aa6bac42e42ae7fff7983cd1ada50"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title th:text="#{web.title}">ISY</title>
    <!-- favicon -->
    <link rel="icon" href="icon/favicon.ico" th:href="@{/icon/favicon.ico}"/>
    <!-- font css -->
    <link rel="stylesheet" href="css/useso.css" th:href="@{/css/custom/useso.css}"/>
    <!-- normalize -->
    <link rel="stylesheet" href="css/normalize.css" th:href="@{/webjars/normalize.css}"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="webjars/bootstrap/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <!-- Custom Google Web Font -->
    <link rel="stylesheet" href="webjars/font-awesome/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/css/font-awesome.min.css}"/>
    <!-- Custom CSS-->
    <link rel="stylesheet" href="css/index.css" th:href="@{/css/custom/index.css}"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?928b161cc08f12ef1a91a5e3a9a2ac9a";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
        /* push link to baidu */
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
</head>
<body>
<!-- SITE HEADER -->
<div class="site-top" id="top">
    <div class="site-top-overlay"></div>
    <div class="welcome-text">
        <div class="container text-center white-text">
            <div class="col-xs-8 col-xs-offset-2">
                <h1>ISY</h1>
                <a href="login.html" th:href="@{/login}" class="button outline white">马上登录</a>
            </div>
        </div>
    </div>
    <!-- SITE-FOOTER -->
    <footer class="site-footer">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <ul class="social-icons">
                        <li><a href="javascript:;" class="fa fa-qq"></a></li>
                        <li><a href="javascript:;" class="fa fa-weixin"></a></li>
                        <li><a href="https://zbeboy.github.io/ISY/" class="fa fa-github-square"></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" th:include="footer::footer"></div>
            </div>
        </div>
    </footer>
</div> <!-- .site-top -->
<script src="webjarsjs" th:src="@{/webjarsjs}"></script>
<script src="webjars/requirejs/require.min.js" th:src="@{/webjars/requirejs/require.min.js}"
        data-main="/index"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var web_path = /*[[${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}]]*/ '';
    require.config({
        baseUrl: web_path + "/js/index",
        waitSeconds: 0
    });
    /*]]>*/
</script>
</body>
</html>