<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: header(~{::meta},~{::title},~{::link})">
    <!-- csrf -->
    <meta name="_csrf" content="" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="" th:content="${_csrf.headerName}"/>
    <title th:text="#{web.title}">ISY</title>
    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet"
          th:href="@{/webjars/startbootstrap-sb-admin-2/css/sb-admin-2.css}"/>
    <!-- sticky-footer CSS -->
    <link href="css/sticky-footer.css" rel="stylesheet" th:href="@{/css/custom/sticky-footer.css}"/>
    <!-- Custom CSS-->
    <link rel="stylesheet" href="css/msg.css" th:href="@{/css/custom/msg.css}"/>
</head>
<body>
<div class="container">
    <!-- Jumbotron -->
    <div class="jumbotron">
        <p class="lead" th:utext="${msg}"></p>
        <p><a href="javascript:;" id="back" class="btn btn-outline btn-link">返回首页</a></p>
    </div>
    <footer class="footer" th:include="footer::footer" style="height: 60px;">
        <p class="text-muted">&copy; Company 2016</p>
    </footer>
    <!-- /.footer -->
</div>
<script src="webjarsjs" th:src="@{/webjarsjs}"></script>
<script src="webjars/requirejs/require.min.js" th:src="@{/webjars/requirejs/require.min.js}"
        data-main="/notice"></script>
<script>
    /*<![CDATA[*/
    var web_path = /*[[${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}]]*/ '';
    require.config({
        baseUrl: web_path + "/js/msg",
        waitSeconds: 0
    });
    /*]]>*/
</script>
</body>
</html>
