<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Nav</title>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" th:fragment="nav">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html" th:href="@{/web/menu/backstage}">ISY v1.0</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="badge hidden" id="messagesCount"></span><i class="fa fa-envelope fa-fw"></i> <i
                    class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-messages" id="messages">

            </ul>
            <!-- /.dropdown-messages -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-tasks">
                <li>
                    <a href="#">
                        <div>
                            <p>
                                敬请期待
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-tasks -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="badge hidden" id="alertsCount"></span><i class="fa fa-bell fa-fw"></i> <i
                    class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts" id="alerts">

            </ul>
            <!-- /.dropdown-alerts -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#/anyone/users/profile" class="dy_href"><i class="fa fa-user fa-fw"></i> 用户资料</a>
                </li>
                <li><a href="#/anyone/users/setting" class="dy_href"><i class="fa fa-gear fa-fw"></i> 设置</a>
                </li>
                <li class="divider"></li>
                <li><a href="javascript:$('#logout').submit();"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
                </li>
                <li class="hidden">
                    <form th:action="@{/logout}" method="POST" id="logout">
                        <input type="submit"/>
                    </form>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <div class="custom-search-form sidebar-search" id="form"></div>
            <ul class="nav" id="side-menu" th:utext="${menu}">
                <!-- 实习模块 -->
                <li>
                    <a href="#"><i class="fa fa-coffee fa-fw"></i> 实习<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">实习发布</a>
                        </li>
                        <li>
                            <a href="#">实习教师分配</a>
                        </li>
                        <li>
                            <a href="#">实习申请</a>
                        </li>
                        <li>
                            <a href="#">实习审核</a>
                        </li>
                        <li>
                            <a href="#">实习统计</a>
                        </li>
                        <li>
                            <a href="#">实习日志</a>
                        </li>
                        <li>
                            <a href="#">实习监管</a>
                        </li>
                    </ul>
                </li>
                <!-- end -->
                <!-- 数据管理 -->
                <li>
                    <a href="#"><i class="fa fa-hdd-o fa-fw"></i> 数据<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">学校数据</a>
                        </li>
                        <li>
                            <a href="#">院数据</a>
                        </li>
                        <li>
                            <a href="#">系数据</a>
                        </li>
                        <li>
                            <a href="#">专业数据</a>
                        </li>
                        <li>
                            <a href="#">班级数据</a>
                        </li>
                        <li>
                            <a href="#">学生数据</a>
                        </li>
                        <li>
                            <a href="#">教职工数据</a>
                        </li>
                        <li>
                            <a href="#">民族数据</a>
                        </li>
                        <li>
                            <a href="#">政治面貌数据</a>
                        </li>
                    </ul>
                </li>
                <!-- end -->
                <!-- 平台管理 -->
                <li>
                    <a href="#"><i class="fa fa-list fa-fw"></i> 平台<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">平台用户</a>
                        </li>
                        <li>
                            <a href="#">平台角色</a>
                        </li>
                    </ul>
                </li>
                <!-- end -->
                <!-- 系统管理 -->
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> 系统<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">系统应用</a>
                        </li>
                        <li>
                            <a href="#">系统日志</a>
                        </li>
                        <li>
                            <a href="#">系统短信</a>
                        </li>
                        <li>
                            <a href="#">系统邮件</a>
                        </li>
                    </ul>
                </li>
                <!-- end -->
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
</body>
</html>