<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<div id="wrapper">
    <div id="page-wrapper">
        <!-- Jumbotron -->
        <div class="jumbotron">
            <p class="lead" th:if="${showTip}" th:utext="${tip}">Cras justo odio, dapibus ac facilisis in, egestas eget
                quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
                sit amet.</p>
            <p th:if="${showButton}"><a href="javascript:;" id="back" class="btn btn-outline btn-link"
                                        th:text="${buttonText}">返回上一页</a></p>
        </div>
        <!-- /.row -->
        <footer class="footer" th:include="footer::footer">
            <p class="text-muted">&copy; Company 2016</p>
        </footer>
        <!-- /.footer -->
        <input type="hidden" class="dy_script" value="/js/tip/tip.js"/>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
</body>

</html>