<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">用户资料</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        学校
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <span>学校：</span><span th:text="${user.schoolName}"></span>
                            </div>
                            <div class="col-md-4">
                                <span>院：</span><span th:text="${user.collegeName}"></span>
                            </div>
                            <div class="col-md-4">
                                <span>系：</span><span id="updateDepartment" th:text="${user.departmentName}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <button class="btn btn-default"  data-toggle="modal" data-target="#schoolModal">修改</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        个人
                    </div>
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <span>姓名：</span><span th:text="${user.realName}"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <span>工号：</span><span th:text="${user.staffNumber}"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <span>性别：</span><span th:text="${user.sex}"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <span>民族：</span><span th:text="${user.nationName}"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <span>政治面貌：</span><span th:text="${user.politicalLandscapeName}"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <span>生日：</span><span th:text="${user.birthday}"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <span>职务：</span><span th:text="${user.post}"></span>
                                    </div>
                                    <div class="col-md-8">
                                        <span>身份证号：</span><span th:text="${user.idCard}"></span>
                                    </div>
                                    <div class="col-md-12">
                                        <span>家庭居住地：</span><span th:text="${user.familyResidence}"></span>
                                    </div>
                                </div>
                            </div>
                            <span class="media-right">
                                <img th:src="@{${user.avatar}}" src="#" style="width: 120px;height: 120px"/>
                            </span>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <button class="btn btn-default" id="profileEdit">修改</button>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer" th:include="footer::footer">
            <p class="text-muted">&copy; Company 2016</p>
        </footer>
        <!-- /.footer -->

        <!-- 修改学校信息Modal -->
        <div class="modal fade" id="schoolModal" tabindex="-1" role="dialog" aria-labelledby="schoolModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="schoolModalLabel">学校信息修改</h4>
                    </div>
                    <div class="modal-body" id="loading_region">
                        <form role="form" id="school_form">
                            <fieldset>
                                <div class="form-group" id="valid_department">
                                    <select class="form-control" name="department" id="select_department">
                                        <option>请选择系</option>
                                    </select>
                                    <p class="text-danger hidden" id="department_error_msg"></p>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="school_submit" >保存</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>

        <script id="department-template" type="text/x-handlebars-template">
            {{#each listResult}}
            <option value="{{department_value}}">{{department_name}}</option>
            {{/each}}
        </script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            /*页面参数*/
            var init_page_param = {
                'collegeId': /*[[${user.collegeId}]]*/ 0,
                'departmentId':/*[[${user.departmentId}]]*/ 0
            };
            /*]]>*/
        </script>
        <input type="hidden" class="dy_script" value="/js/platform/users/users_profile_staff.js" />
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
</body>

</html>
