<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">配置</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        信息
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">账号：<span th:text="${user.username}"></span></div>
                            <div class="col-md-6 text-right">
                                <button class="btn btn-default" type="button" id="passwordUpdate">修改密码</button>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5%;">
                            <div class="col-md-6">
                                手机号：<span th:text="${user.mobile}" id="updateMobile"></span>
                            </div>
                            <div class="col-md-6 text-right">
                                <button class="btn btn-default" type="button" id="mobileUpdate">修改号码</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer" th:include="footer::footer">
            <p class="text-muted">&copy; Company 2016</p>
        </footer>
        <!-- /.footer -->

        <!-- 修改密码Modal -->
        <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="passwordModalLabel">密码修改</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" id="password_form">
                            <fieldset>
                                <div class="form-group" id="valid_new_password">
                                    <input class="form-control" type="password" name="newPassword" id="newPassword"
                                           placeholder="新密码"/>
                                    <div id="meter2"></div>
                                    <p class="text-danger hidden" id="new_password_error_msg"></p>
                                    <input type="hidden" th:value="${user.username}" name="username"/>
                                </div>
                                <div class="form-group" id="valid_ok_password">
                                    <input class="form-control" type="password" name="okPassword" id="okPassword"
                                           placeholder="确认密码"/>
                                    <p class="text-danger hidden" id="ok_password_error_msg"></p>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="password_submit">确定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 修改手机号Modal -->
        <div class="modal fade" id="mobileModal" tabindex="-1" role="dialog" aria-labelledby="mobileModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="mobileModalLabel">手机号修改</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" id="mobile_form">
                            <fieldset>
                                <div class="form-group" id="valid_mobile">
                                    <input class="form-control" placeholder="手机号" name="newMobile" id="newMobile"
                                           type="text"/>
                                    <p class="text-danger hidden" id="mobile_error_msg"></p>
                                    <input type="hidden" th:value="${user.username}" name="username"/>
                                    <input type="hidden" th:value="${user.mobile}" id="mobile"/>
                                </div>
                                <div class="form-group" id="valid_phone_verify_code">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="手机验证码" name="phoneVerifyCode"
                                               id="phoneVerifyCode" type="text"/>
                                        <span class="input-group-btn">

                                            <input type="button" class="btn btn-default" id="get_verification_code"
                                                   value="获取验证码"/>
										</span>
                                    </div><!-- /input-group -->
                                    <p class="text-danger hidden" id="phone_verify_code_error_msg"></p>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="mobile_submit">确定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" th:value="${user.username}" name="username" id="username"/>
        <input type="hidden" class="dy_script" value="/js/platform/users/users_setting.js"/>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
</body>

</html>
