<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="keywords" name="keywords" content="" th:content="#{web.meta.keywords}"/>
    <meta http-equiv="description" name="description" content="" th:content="#{web.meta.description}"/>
    <meta name="author" content="" th:content="#{web.meta.author}"/>
    <!-- csrf -->
    <meta name="_csrf" content="" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="" th:content="${_csrf.headerName}"/>

    <title th:text="#{web.title}">ISY</title>

    <!-- favicon -->
    <link rel="icon" href="icon/favicon.ico" th:href="@{/icon/favicon.ico}"/>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

    <!-- MetisMenu CSS -->
    <link href="css/metisMenu.min.css" rel="stylesheet" th:href="@{/webjars/metisMenu/metisMenu.min.css}"/>

    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet"
          th:href="@{/webjars/startbootstrap-sb-admin-2/css/sb-admin-2.css}"/>

    <!-- sticky-footer CSS -->
    <link href="css/sticky-footer.css" rel="stylesheet" th:href="@{/css/custom/sticky-footer.css}"/>

    <!-- messenger CSS -->
    <link href="css/plugin/messenger/messenger.css" th:href="@{/webjars/messenger/build/css/messenger.css}"
          rel="stylesheet"/>
    <link href="css/plugin/messenger/messenger-theme-flat.css"
          th:href="@{/webjars/messenger/build/css/messenger-theme-flat.css}" rel="stylesheet"/>

    <!-- DataTables CSS -->
    <link href="css/plugin/datatables/dataTables.bootstrap.min.css"
          th:href="@{/plugin/datatables/css/dataTables.bootstrap.min.css}" rel="stylesheet"/>
    <link href="css/plugin/datatables/datatables.responsive.css"
          th:href="@{/plugin/datatables/css/datatables.responsive.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"
          th:href="@{/webjars/font-awesome/css/font-awesome.min.css}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0"
         th:include="nav::nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">ISY v1.0</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 1</strong>
                                    <span class="pull-right text-muted">40% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 2</strong>
                                    <span class="pull-right text-muted">20% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                        <span class="sr-only">20% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 3</strong>
                                    <span class="pull-right text-muted">60% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 4</strong>
                                    <span class="pull-right text-muted">80% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80% Complete (danger)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Tasks</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-tasks fa-fw"></i> New Task
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <div class="custom-search-form sidebar-search" id="form"></div>
                <ul class="nav" id="side-menu">
                    <!-- 实习模块 -->
                    <li>
                        <a href="#"><i class="fa fa-coffee fa-fw"></i> 实习<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="internship_release.html">实习发布</a>
                            </li>
                            <li>
                                <a href="internship_teacher_distribution.html">实习教师分配</a>
                            </li>
                            <li>
                                <a href="internship_apply.html">实习申请</a>
                            </li>
                            <li>
                                <a href="internship_review.html">实习审核</a>
                            </li>
                            <li>
                                <a href="internship_statistical.html">实习统计</a>
                            </li>
                            <li>
                                <a href="internship_journal.html">实习日志</a>
                            </li>
                            <li>
                                <a href="internship_regulate.html">实习监管</a>
                            </li>
                        </ul>
                    </li>
                    <!-- end -->
                    <!-- 数据管理 -->
                    <li>
                        <a href="#"><i class="fa fa-hdd-o fa-fw"></i> 数据<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">学校数据</a>
                            </li>
                            <li>
                                <a href="#">院数据</a>
                            </li>
                            <li>
                                <a href="#">系数据</a>
                            </li>
                            <li>
                                <a href="#">专业数据</a>
                            </li>
                            <li>
                                <a href="#">班级数据</a>
                            </li>
                        </ul>
                    </li>
                    <!-- end -->
                    <!-- 平台管理 -->
                    <li>
                        <a href="#"><i class="fa fa-list fa-fw"></i> 平台<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">平台用户</a>
                            </li>
                            <li>
                                <a href="#">平台角色</a>
                            </li>
                        </ul>
                    </li>
                    <!-- end -->
                    <!-- 系统管理 -->
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i> 系统<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">系统应用</a>
                            </li>
                            <li>
                                <a href="#">系统日志</a>
                            </li>
                            <li>
                                <a href="#">系统短信</a>
                            </li>
                            <li>
                                <a href="#">系统邮件</a>
                            </li>
                        </ul>
                    </li>
                    <!-- end -->
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">系统应用</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" name="checkall" id="checkall"/>
                        </th>
                        <th data-class="expand">应用</th>
                        <th data-hide="always">英文</th>
                        <th>父级</th>
                        <th data-hide="always">路径</th>
                        <th data-hide="phone">类型</th>
                        <th data-hide="always">图标</th>
                        <th data-hide="phone">序号</th>
                        <th data-hide="always">识别名</th>
                        <th data-hide="always">过滤url</th>
                        <th data-hide="phone">操作</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th></th>
                        <th>应用</th>
                        <th>英文</th>
                        <th>父级</th>
                        <th>路径</th>
                        <th>类型</th>
                        <th>图标</th>
                        <th>序号</th>
                        <th>识别名</th>
                        <th>过滤url</th>
                        <th>操作</th>
                    </tr>
                    </tfoot>

                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
        <!-- /.row -->
        <footer class="footer" th:include="footer::footer">
            <p class="text-muted">&copy; Company 2016</p>
        </footer>
        <!-- /.footer -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!--定义操作列按钮模板-->
<script id="operator_button" type="text/x-handlebars-template">
    {{#each func}}
    <button type="button" class="btn btn-{{this.type}} btn-sm {{this.css}}" data-id="{{this.id}}"
            data-application="{{this.application}}">{{this.name}}
    </button>
    {{/each}}
</script>

<script src="webjarsjs" th:src="@{/webjarsjs}"></script>
<script src="webjars/requirejs/require.min.js" th:src="@{/webjars/requirejs/require.min.js}"
        data-main="/system_application"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var web_path = /*[[${#httpServletRequest.getContextPath()}]]*/ '';
    require.config({
        baseUrl: web_path + "/js/system/application",
        waitSeconds: 0
    });
    /*]]>*/
</script>
</body>

</html>
